services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    ports:
      - "6543:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata:
