name: sandboxforge-dev
services:
  postgres:
    image: postgres:16-alpine
    ports: ["${POSTGRES_PORT:-5432}:5432"]
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-app_password}
      POSTGRES_DB: ${POSTGRES_DB:-sandboxforge}
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports: ["${REDIS_PORT:-6379}:6379"]
    volumes: [ "redis-data:/data" ]

  seq:
    image: datalust/seq:latest
    profiles: ["obs"]
    ports: ["${SEQ_PORT:-5341}:80"]
    environment:
      ACCEPT_EULA: "Y"
    volumes:
      - seq-data:/data

  # Пром/Графана по желанию, можно добавить позже
  grafana:
    image: grafana/grafana:latest
    ports: ["${GRAFANA_PORT:-3001}:3000"]
    volumes:
      - grafana-data:/var/lib/grafana


  web:
    ports: ["3000:80"]
    image: nginx:alpine
    volumes:
      - ../../apps/web:/usr/share/nginx/html:ro
    labels:
      - traefik.enable=true
      # HTTPS роутер
      - traefik.http.routers.site.rule=Host(`sandboxforge.tech`,`www.sandboxforge.tech`)
      - traefik.http.routers.site.entrypoints=websecure
      - traefik.http.routers.site.tls=true
      - traefik.http.routers.site.tls.certresolver=letsencrypt
      - traefik.http.services.site.loadbalancer.server.port=80
      # Редирект с http -> https
      - traefik.http.routers.site-redirect.rule=Host(`sandboxforge.tech`,`www.sandboxforge.tech`)
      - traefik.http.routers.site-redirect.entrypoints=web
      - traefik.http.routers.site-redirect.middlewares=to-https
      - traefik.http.middlewares.to-https.redirectscheme.scheme=https
      # Опц: редирект www -> apex (или наоборот)
      - traefik.http.routers.www2apex.rule=Host(`www.sandboxforge.tech`)
      - traefik.http.routers.www2apex.entrypoints=websecure
      - traefik.http.routers.www2apex.tls=true
      - traefik.http.routers.www2apex.middlewares=www2apex
      - traefik.http.middlewares.www2apex.redirectregex.regex=^https://www\\.(.+)
      - traefik.http.middlewares.www2apex.redirectregex.replacement=https://$$1
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
    
volumes:
  pg-data:
  redis-data:
  seq-data:
  grafana-data: