entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:               # вкл. локальный дашборд (не публикуем наружу)
  insecure: true   # оставим true, но не будем прокидывать доменом
  dashboard: true

providers:
  docker:
    exposedByDefault: false
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: you@example.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
